{% extends './base.html' %}

{% block title %}Iniciar Sesion{% endblock %}

{% block customCSS %}
{% endblock %}

{% block body %}
<div class="text-center" style="padding-top: 20px;">
    <div class="container">
        <form class="form-signin" action="/auth/login" method="POST" style="padding-top: 50px;">
            <img class="mb-4" src="{{ url_for('static', filename='img/login.png') }}" alt="" width="150" height="150">
            <h1 class="h3 mb-3 fw-normal">Iniciar Sesion</h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                <label for="username">Usuario</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" name="password" placeholder="Password">
                <label for="password">Contraseña</label>
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-primary alert-dismissible" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
            <br />
            <p class="mt-5 mb-3 text-muted">&copy; EduVEn 2022</p>
        </form>
    </div>
</div>
{% endblock %} 